@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LuloClean;
  src: url("../../public/fonts/LuloClean/LuloClean.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../../public/fonts/Poppins-ExtraLight.ttf");
}
* {
  font-family: LuloClean;
}
.poppins {
  font-family: Poppins;
}
